/* Asegúrate de que el contenedor principal ocupe al menos toda la altura de la ventana del navegador */
html, body {
    margin: 0;
  }
  
  .container {
    min-height: 9vh; /* Asegura que el contenedor principal ocupe al menos toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
  }
  
  .footer {
    background-color: #fd7b01; /* Color de fondo */
    padding: 20px; /* Espaciado en el pie de página */
    margin-top: auto; /* Empuja el pie de página hacia abajo */
  }
  
  .social {
    display: flex;
    justify-content: center; /* Centra los íconos sociales horizontalmente */
    gap: 20px; /* Espaciado entre los íconos sociales */
  }
  
  .social a {
    color: white; /* Color de los íconos sociales */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-size: 1.5rem; /* Tamaño de fuente para los íconos sociales */
  }
  