/* Contenedor de productos */
.productos-container {
    display: flex;
    overflow-x: auto; 
    padding: 10px; /* Añadido padding para no pegar los productos al borde */
    gap: 15px; /* Añadido espacio entre productos */
}

/* Estilo para los productos individuales */
.producto {
    flex: 0 0 auto; 
    margin-right: 10px; 
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para un efecto de superposición */
    border: 2px solid #f58d06; /* Borde del mismo color que el navbar */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    text-align: center; /* Centra el contenido del producto */
}

/* Efecto hover para los productos */
.producto:hover {
    transform: scale(1.05); /* Ampliación suave al pasar el ratón */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
    background: rgba(255, 255, 255, 1); /* Fondo blanco sólido al pasar el ratón */
}

/* Enlaces */
a {
    color: #0e0d0d; /* Color del texto de los enlaces */
}

a:hover, 
a:active,
a:focus {
    color: #f58d06; /* Color del texto al pasar el ratón o al hacer clic */
    outline: none;
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo de los elementos de la barra lateral */
.sidebar-widget.category .navbar li:last-child {
    border-bottom: none;
}

.sidebar-widget.category .navbar a {
    color: #333; /* Color del texto en la barra lateral */
}

.sidebar-widget.category .navbar a:hover {
    color: #f58d06; /* Color de los enlaces al pasar el ratón */
}

/* Iconos de las categorías */
.sidebar-widget.category .navbar i {
    color: #f80404; /* Color de los iconos */
    width: 24px; /* Aumento en el tamaño del ícono */
    text-align: center;
    margin-right: 10px; /* Espaciado más amplio entre el ícono y el texto */
}

.sidebar-widget.category .navbar a:hover i {
    color: #f58d06; /* Color de los iconos al pasar el ratón */
}

/* Estilo para marcas */
.sidebar-widget.brands ul li span {
    display: inline-block;
    color: #f58d06; /* Color del texto de las marcas */
    font-size: 16px; /* Aumento en el tamaño de fuente */
    font-weight: 600; /* Negrita en el texto */
}

/* Estilo de selección */
.producto {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco casi sólido */
    transition: all .3s; /* Transiciones suaves */
    border: 2px solid #f58d06; /* Borde de color naranja */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno aumentado */
}
